p
{
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-family: 'Open Sans', sans-serif;
}

a
{
    font-family: 'Open Sans', sans-serif;
}

img
{
    float: left;
    margin-right: 15px;
    border-style: ridge;
}